
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}
.block {
  flex-basis: 25%;
}

.form-container {
  flex: 1;
  padding: 20px;
  margin-left: 30px;
}

.table-container {
  padding: 20px;
  margin-top: 20px;
}
.table-row td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  min-width: 200px; 
  white-space: nowrap;
  background-color: #f1f1f1;

}

.table-container thead th {
  border: none;
}
.table-2{
  padding: 20px;
  margin-top: 20px;
  margin-right: 100px;
  border-collapse: collapse;


}
.button-container {
  position: absolute;
  top: 70.5%;
  left: 59%;
  transform: translate(-50%, -50%);
}

.button-right,
.button-left {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
}
.large-width {
  width: 80%; 
}
.highlighted-option {
  background-color: blue !important;
  color: white;}