<div class="section">
  <h1>Select perspective/kPIs</h1> 
  <p>Dataset Imported: Project X.csv<br>
    Selected Method: Scrum<br>
    Dataset attributes checked: 4 out of 6 </p>
</div>
<div class="container">
  <div class="block">
    <div class="form-container">
      <form class="example-form">
        <mat-form-field class="example-full-width large-width">
          <input
            #inputField
            type="text"
            placeholder="Perspectives"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            [value]="highlightedOption"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
              [ngClass]="{ 'highlighted-option': option === highlightedOption  }"
              (mouseover)="highlightOption(option)"
              (mouseout)="resetOption()"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
  
  <div class="block">
  <div class="table-container" *ngIf="myControl.value === 'Time'">
    <table>
      <thead>
        <tr>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row">
          <td>Mean Sprint Duration<br><br><br><br></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="block">
    <div class="button-container" *ngIf="myControl.value === 'Time'">
      <button class="button-right" (click)="moveToSelected()">&gt;&gt;</button>
        <button class="button-left" (click)="moveToAvailable()">&lt;&lt;</button>
      </div>
  </div>
  <div class="block">
    <div class="table-2" *ngIf="myControl.value === 'Time'">
      <table>
        <thead>
          <tr>
            <th>Selected</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td>Time Box Adherence<br><br><br><br></td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</div>
<button class="bottom-left-button" (click)="navigateToDataset()">Back</button>
<button class="bottom-rigth-button" (click)="navigateToSummary()">Next</button>
