<div class="icon-container">
  <div class="icon">
    <img [src]="fileSendIconUrl" alt="File Send Outline Icon" class="small-icon" [ngClass]="{'color-transform': true}">
    <div class="title"  [ngClass]="{'color-transform': true}" >Import dataset</div>
  </div>

  <div class="icon">
    <img [src]="arrowRightThinIconUrl" alt="Arrow Right Thin Icon" class="small-icon" [ngClass]="{'color-transform': applyColorTransform}">
  </div>

  <div class="icon">
    <img [src]="checkBoxOutlineIconUrl" alt="Check Box Outline Icon" class="small-icon" [ngClass]="{'color-transform': applyColorTransform}">
    <div class="title" [ngClass]="{'color-transform': applyColorTransform}">Select ASD method</div>
  </div>

  <div class="icon">
    <img [src]="arrowRightThinIconUrl" alt="Arrow Right Thin Icon" class="small-icon"  [ngClass]="{'color-transform': applyColorTransform1}">
  </div>

  <div class="icon">
    <img [src]="checkedLineIconUrl" alt="Checked Line Icon" class="small-icon"  [ngClass]="{'color-transform': applyColorTransform1}">
    <div class="title"  [ngClass]="{'color-transform': applyColorTransform1}">Check dataset attributes</div>
  </div>

  <div class="icon">
    <img [src]="arrowRightThinIconUrl" alt="Arrow Right Thin Icon" class="small-icon" [ngClass]="{'color-transform': applyColorTransform2}">
  </div>

  <div class="icon">
    <img [src]="textBoxCheckOutlineIconUrl" alt="Text Box Check Outline Icon" class="small-icon"  [ngClass]="{'color-transform': applyColorTransform2}">
    <div class="title" [ngClass]="{'color-transform': applyColorTransform2}">Select the perspective/KPIs</div>
  </div>

  <div class="icon">
    <img [src]="arrowRightThinIconUrl" alt="Arrow Right Thin Icon" class="small-icon" [ngClass]="{'color-transform': applyColorTransform3}">
  </div>

  <div class="icon">
    <img [src]="fileDocumentCheckIconUrl" alt="File Document Check Outline Icon" class="small-icon" [ngClass]="{'color-transform': applyColorTransform3}">
    <div class="title" [ngClass]="{'color-transform': applyColorTransform3}">Summary</div>
  </div>

  <div class="icon">
    <img [src]="arrowRightThinIconUrl" alt="Arrow Right Thin Icon" class="small-icon" [ngClass]="{'color-transform': applyColorTransform4}">
  </div>

  <div class="icon">
    <img [src]="autoRenewIconUrl" alt="Auto Renew Icon" class="small-icon" [ngClass]="{'color-transform': applyColorTransform4}">
    <div class="title" [ngClass]="{'color-transform': applyColorTransform4}">Visualize PM results</div>
  </div>
</div>
