<div class="section">
  <h1>Select ASD method</h1>
  <p>Dataset Imported</p>
</div>
<div class="container">
  <form class="example-form " style="margin: 50px; padding: 20px;">
    <mat-form-field class="example-full-width large-width">
      <input
        #inputField
        type="text"
        placeholder="Select ASD methods"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        [value]="highlightedOption"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
          [ngClass]="{ 'highlighted-option': option === highlightedOption }"
          (mouseover)="highlightOption(option)"
          (mouseout)="resetOption()"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<button class="bottom-rigth-button" (click)="navigateToDataset()">Next</button>

