<div class="center-table">
  <table>
    <tbody>
      <tr>
        <td>register request<br>2 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>examine casually<br>3 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>check ticket<br>5 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>decide<br>3 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>reinitiate request<br>7 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>examine thoughtfully<br>6 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>decide<br>5 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>reject request<br>2 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
    </tbody>
  </table>
  
</div>
<div class="input-container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="List of recommendations" value="">
    </mat-form-field>
  </form>
</div>