<div class="center-table">
  <table>
    <tbody>
      <tr>
        <td>register request<br>2 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>examine casually<br>3 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>check ticket<br>5 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>decide<br>3 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>reinitiate request<br>7 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>examine thoughtfully<br>6 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>decide<br>5 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
      <tr>
        <td>reject request<br>2 days</td>
      </tr>
      <tr>
        <td class="no-border"><strong>↓</strong></td>
      </tr>
    </tbody>
  </table>
  
</div>
<ng-container *ngIf="showDangerAlert">
  <div class="mat-snackbar-container" aria-live="polite" aria-atomic="true">
    <div class="mat-snackbar-wrapper">
      <div class="mat-snackbar-content">
        <span class="mat-snackbar-message">Danger! Please review the recommendations.</span>
      </div>
    </div>
  </div>
</ng-container>
<button class="bottom-left-button" (click)="navigateToSummary()">Back</button>
